body.home {
	.container {
		background: rgba(0,0,0,0);
		transition: all 1s ease-in-out;
	}
		background: url('../images/gifs/rt1_4.gif') top center;
		background-size: cover;
		#masthead {
			background: none;
			a#logo {
				display: none !important;
			}
		}
		.container {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.intro {
			position: relative;
			width: 100%;
			height: 100%;
			max-width: 55rem;
			transition: all 1s ease-in-out;
			-webkit-transition: all 1s ease-in-out;
		
			#intro {
				text-align: center;
				padding: 0 rem-calc(80px);
		    	position: absolute;
		    	top: 45%;
		    	transform: translateY(-50%);
		    	width: 100%;
				img {
					max-width: 100%;

				}
			}
		}
		.instructions {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			text-align: center;
			opacity: 0;
			overflow: hidden;
			padding: 3.5rem 3.125rem 3.125rem;
			transition: all 1s ease-in-out 1s;
			-webkit-transition: all 1s ease-in-out 1s;
			h1 {
				font-size: rem-calc(35px);
				position: absolute;
		    	top: 50%;
		    	transform: translateY(-50%);
		    	width: calc(100% - 6.25rem);
			}
		@media screen and ( min-height: 375px ){
			.how-it-works {
				position: absolute;
		    	top: 50%;
		    	transform: translateY(-50%);
		    	width: calc(100% - 6.25rem);
			}
		}
			p {
				font-family: $bold-font;
				font-size: rem-calc(16px);
				margin-bottom: rem-calc(10px);
				text-transform: uppercase;
				line-height: 1.4em;
				&:first-child {
					margin-bottom: rem-calc(18px);
				}
			}
			ul {
				margin:0;
				text-align: left;
				max-width: rem-calc(530px);
    			margin: auto;
				li {
					font-family: $bold-font;
					font-size: rem-calc(14px);
					list-style: none;
					line-height: 1.1em;
					margin-bottom: rem-calc(7px);
					span {
						display: inline-block;
						text-align: center;
						width: 26px;
						height: 26px;
						line-height: 24px;
						padding-top: 2px;
						background: $primary-color;
						color: #000;
						border-radius: 50%;
						margin: 0 6px 0 0;
					}
				}
			}
			.rt-button {
				font-size: rem-calc(30px);
				line-height: rem-calc(38px);
				height: rem-calc(38px);
				margin-top: rem-calc(10px);
				padding-left: rem-calc(20px);
				padding-right: rem-calc(20px);
			}
		}
		.instructions3 { 
			padding-top: 4rem;
		}

	&.show-intro {
		.container {
			background: #000;
		}
		#masthead {
			a#logo {
				display: block !important;
			}
		}
		.intro {
			opacity: 0;
		}
		.instructions1 {
			opacity: 1;
		}
	}
	&.show-intro2 {
		background: #000;
		#masthead {
			background: #000;
		}
		.instructions1 {
			opacity: 0;
		}
		.instructions2 {
			opacity: 1;
		}
	}
	&.show-intro3 {
		.instructions1, .instructions2 {
			opacity: 0;
		}
		.instructions3 {
			opacity: 1;
		}
		@media screen and ( max-height: 374px ){
			.instructions3 {
				height: auto;		
			}		
		}
	}
}