body.home {
		background: url('../images/gifs/rt1_3.gif') top center;
		background-size: cover;
		#masthead {
			background: none;
			a#logo {
				display: none !important;
			}
		}
		.container {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.intro {
			position: relative;
			width: 100%;
			height: 100%;
			max-width: 55rem;		
			#intro {
				text-align: center;
				padding: 0 rem-calc(80px);
		    	position: absolute;
		    	top: 45%;
		    	transform: translateY(-50%);
		    	width: 100%;
				img {
					max-width: 100%;
				}
			}
		}

}